<%= form_tag({:action => 'create'}, {:id => 'eventForm'}) do %>
	<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
	<%= select_datetime(DateTime.current.in_time_zone, ampm: true, :prefix => :datetime) %><br>
	<%= text_area(:event, :topic, :onchange => 'document.getElementById("save-currentEventTopic").value = this.value') %><br>
	<%= submit_tag("Create Event") %>
    <div id="eventError"></div>
<% end %>

<table>
  <% @tagsToAdd.each do |t| %>
    <tr>
      <td><%= t %></td>
    </tr>
  <% end %>
</table>

<%= form_tag({:action => 'addTag'}, {:id => 'tagForm'}) do %>
    <%= hidden_field_tag(:currentEventTopic, @event.topic, :id => 'save-currentEventTopic') %>
	<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
	<%= text_area(:tag, :name) %><br>
	<%= submit_tag("Add Tag to Event") %>
    <div id="tagError"></div>
<% end %>

<script>
$(document).ready(function () {

    $.validator.addMethod('tagHasNoSpaces', function (value) {
        return /^[^ ]*$/.test(value);
    }, 'Please enter a tag without spaces');

    $("#tagForm").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorElement:'div',
            errorLabelContainer: '#tagError',
            rules: {
                "tag[name]": {required: true, tagHasNoSpaces: true}
            },
            messages: {
                "tag[name]": {
                    required: 'Please enter a tag'
                }
            }
    })
    
    $.validator.addMethod('mustChooseFutureDateTime', function (value) {
        var inputDateTime   = new Date($("#datetime_year").val(), $("#datetime_month").val() - 1, $("#datetime_day").val(), $("#datetime_hour").val(), $("#datetime_minute").val(), 0, 0);
        var currentDateTime = new Date();
        currentDateTime.setMinutes(currentDateTime.getMinutes() + 5);
        if (inputDateTime > currentDateTime) {
            return true;
        } else {
            return false;
        }
    }, 'Please enter a time at least 5 minutes in the future');

    $("#eventForm").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorElement:'div',
            errorLabelContainer: '#eventError',
            rules: {
                "event[topic]": {required: true},
                "datetime[minute]": {mustChooseFutureDateTime: true}
            },
            messages: {
                "event[topic]": {
                    required: 'Please enter an event topic'
                }
            }
    })

});
</script>
