<%= stylesheet_link_tag('event.scss') %>

<div class = "eventDiv">
<h2>Create an Event</h2>
<%= form_tag({:action => 'new'}, {:id => 'tagForm'}) do %>
    <%= hidden_field_tag(:currentEventTopic, @event.topic, :class => 'save-currentEventTopic') %>
	<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
	<%= text_field(:tag, :name, :class => "tag_box", :placeholder => "type tag here", :size => 20) %>
	<%= submit_tag("Add Tag to Event", :class => "button") %>
    <div id="tagError"></div>
<% end %>
<ul>
  <% @tagsToAdd.each do |t| %>
    <li class="tag">
        <div style="float:left;">
            <%= t %>
        </div>
        <div style="float:left;">
            <%= form_tag({:action => 'new'}) do %>
                <%= hidden_field_tag(:currentEventTopic, @event.topic, :class => 'save-currentEventTopic') %>
                <%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
                <%= hidden_field_tag(:tagToRemove, t) %>
                <%= submit_tag("x", :class => "button deleteButton") %>
            <% end %>
        </div>
    </li>
  <% end %>
</ul>
<br>
<br>
<%= form_tag({:action => 'create'}, {:id => 'eventForm'}) do %>
	<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
    When: <%= select_datetime(DateTime.current.in_time_zone, ampm: true, :prefix => :datetime) %><br>
    <br>
	<%= text_area(:event, :topic, :id => "eventTextField", :class => "text_field", :onchange => 'updateHiddenFieldsWithCurrentText()', :placeholder => "write topic here") %>
    <br>
	<%= submit_tag("Create Event", :class => "button_submit") %>
    <div id="eventError"></div>
<% end %>
</div>

<script>
function updateHiddenFieldsWithCurrentText() {
    $(".save-currentEventTopic").each(function() {
        $(this).val($("#eventTextField").val())
    });
}

$(document).ready(function () {

    $.validator.addMethod('tagHasNoSpaces', function (value) {
        return /^[^ ]*$/.test(value);
    }, 'Please enter a tag without spaces');

    $("#tagForm").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorElement:'div',
            errorLabelContainer: '#tagError',
            rules: {
                "tag[name]": {required: true, tagHasNoSpaces: true}
            },
            messages: {
                "tag[name]": {
                    required: 'Please enter a tag'
                }
            }
    })
    
    $.validator.addMethod('mustChooseFutureDateTime', function (value) {
        var inputDateTime   = new Date($("#datetime_year").val(), $("#datetime_month").val() - 1, $("#datetime_day").val(), $("#datetime_hour").val(), $("#datetime_minute").val(), 0, 0);
        var currentDateTime = new Date();
        currentDateTime.setMinutes(currentDateTime.getMinutes() + 5);
        if (inputDateTime > currentDateTime) {
            return true;
        } else {
            return false;
        }
    }, 'Please enter a time at least 5 minutes in the future');

    $("#eventForm").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorElement:'div',
            errorLabelContainer: '#eventError',
            rules: {
                "event[topic]": {required: true},
                "datetime[minute]": {mustChooseFutureDateTime: true}
            },
            messages: {
                "event[topic]": {
                    required: 'Please enter an event topic'
                }
            }
    })

});
</script>

<script type="text/json" class="json-inline" data-name="guiders2">{"exclusive-popover":{"roundtable":{"content":"\u4e0e\u9886\u57df\u8d44\u6df1\u5609\u5bbe\u540c\u5e2d\uff0c\u53c2\u4e0e\u4e13\u4e1a\u7cbe\u5f69\u7684\u4e3b\u9898\u8ba8\u8bba","dismissText":"\u77e5\u9053\u4e86","title":"\u77e5\u4e4e\u5706\u684c"}},"section":{},"editor":[]}</script>





<script type="text/template" class="activate-dialog-template">

<div class="link-activate-view clearfix">
<div class="tip">为了正常使用知乎的提问、回答、评论和编辑功能，请验证你的邮箱。</div>
<div class="describe">你绑定的邮箱如下，请查收邮件激活你的帐号</div>
<div class="email">995903614@qq.com</div>
<div class="actions">
<a class="resend-activation-email zg-link-litblue-normal" href="#">重发激活邮件</a>
<span class="zg-bull">·</span>
<a class="zg-link-litblue-normal" href="/settings/account">修改邮箱</a>
</div>
</div>