<%= form_tag(:action => 'create') do %>
	<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
	<%= select_datetime(DateTime.current, :prefix => :datetime) %><br>
	<%= text_area(:event, :topic, :onchange => 'document.getElementById("save-currentEventTopic").value = this.value') %><br>
	<%= submit_tag("Create Event") %>
<% end %>

<table>
  <% @tagsToAdd.each do |t| %>
    <tr>
      <td><%= t %></td>
    </tr>
  <% end %>
</table>

<%= form_tag(:action => 'addTag') do %>
    <%= hidden_field_tag(:currentEventTopic, @event.topic, :id => 'save-currentEventTopic') %>
	<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
	<%= text_area(:tag, :name) %><br>
	<%= submit_tag("Add Tag to Event") %>
<% end %>

<%= link_to "Back to Home","../home_feed/index" %>

