<%= stylesheet_link_tag('event.scss') %>

<div class="eventDiv">
    <% if @status == 'scheduled' %>
        <% if @user.id != @event.host.id %>
            <p>You're invited by <%= link_to "#{@event.host.firstName} #{@event.host.lastName}", 
                                     controller: "profile", action: 'show', user_id: @event.host.id, :class => "link" %>:</p>
        <% else %>
            <p>You will host:</p>
        <% end %>
    <% elsif @status == 'live' %>
        <% if @user.id != @event.host.id %>
            <p><%= link_to "#{@event.host.firstName} #{@event.host.lastName}", 
                   controller: "profile", action: 'show', user_id: @event.host.id, :class => "link" %> is hosting:</p>
        <% else %>
            <p>You are hosting:</p>
        <% end %>
    <% else %>
        <% if @user.id != @event.host.id %>
            <p><%= link_to "#{@event.host.firstName} #{@event.host.lastName}", 
                   controller: "profile", action: 'show', user_id: @event.host.id, :class => "link" %> hosted:</p>
        <% else %>
            <p>You hosted:</p>
        <% end %>
    <% end %>
    
    <p class='eventInfo'><%= @event.topic %> Roundtable Discussion</p>
    <div class="eventDateAndShare">
        <div class = "eventDate">
            <h3>on <%= @event.startTime.in_time_zone.strftime(" %m/%d/%Y at %I:%M%p") %></h3>
        </div>
        <div class = "eventShare">
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
            <script type="IN/Share" data-url="<%=request.original_url%>"  data-counter="right"></script>
        </div>
    </div>
    <ul>
        <% @event.tags.each do |t| %>
            <li class="tag"><%= t.name %></li>
        <% end %>
    </ul>
    <% if @user.id == @event.host.id and @status != 'finished' %>
        <br>
        <br>
        <% if @status == 'scheduled' %>
            <div class="center">
                    <%= button_to "Start this Event", {action: 'start', id: @event.id}, class: "button" %>
            </div>
        <% else %>
            <div class="center">
                <div style="display: inline">
                    <%= link_to "Click Here to Open the Discussion", @event.hangout_join_link, :target => "_blank" %>
                    <%= link_to "Click Here to Open the Notes", "https://docs.google.com/document/d/" + @event.doc_link + "/edit?usp=sharing", :target => "_blank", :style=>'padding-left: 20px;' %>
                </div>
                <br>
                <br>
                <br>
                <%= button_to "End this Event", {action: 'stop', id: @event.id}, class: "button" %>
            </div>
        <% end %>
    <% end %>
</div>

<% if @status == 'finished' or (@status == 'live' and @user.id != @event.host.id) %>
    <br>
    <div width="50%" style="float:left;">
        <div class="center">
            <p>Watch the discussion:</p>
        </div>
        <iframe height="315px" width="560px" src="https://www.youtube.com/embed/<%= @event.hangout_view_link %>"></iframe>
        <% if @status == 'live' and @user.id != @event.host.id %>
            <div class="center">
                <%= link_to "Join the Discussion?", @event.hangout_join_link, :target => "_blank" %>
            </div>
        <% end %>
    </div>
        
    <div width="50%" style="float:right;">
        <div class="center">
            <p>Take collaborative notes:</p>
        </div>
        <iframe height="400px" width="550px" src="https://docs.google.com/document/d/<%= @event.doc_link %>/edit?usp=sharing"></iframe>
    </div>
<% end %>
