<%= stylesheet_link_tag('event.scss') %>

<div class="eventDiv">
    <% if @user.id != @event.host.id %>
        <% if @status == 'scheduled' %>
            <p> You're invited by <%= link_to "#{@event.host.firstName} #{@event.host.lastName}", 
                                      controller: "profile", action: 'show', user_id: @event.host.id, :class => "link" %>:</p>
        <% elsif @status == 'live' %>
            <p> <%= link_to "#{@event.host.firstName} #{@event.host.lastName}", 
                    controller: "profile", action: 'show', user_id: @event.host.id, :class => "link" %> is hosting:</p>
        <% else %>
            <p> <%= link_to "#{@event.host.firstName} #{@event.host.lastName}", 
                    controller: "profile", action: 'show', user_id: @event.host.id, :class => "link" %> hosted:</p>
        <% end %>
    <% end %>
    
    <p class='eventInfo'><%= @event.topic %> Roundtable Discussion</p>
    <h3>on <%= @event.startTime.in_time_zone.strftime(" %m/%d/%Y at %I:%M%p") %></h3>
    <ul>
        <% @event.tags.each do |t| %>
            <li class="tag"><%= t.name %></li>
        <% end %>
    </ul>
    
    <% if @user.id == @event.host.id %>
        <% if @status == 'scheduled' %>
            <%= button_to "Start this Event", {action: 'start', id: @event.id}, class: "button" %>
        <% elsif @status == 'live' %>
            <%= button_to "End this Event", {action: 'stop', id: @event.id}, class: "button" %>
        <% end %>
    <% end %>
</div>

<% if @status != 'scheduled' %>
    <br>
    <br>
    <div width="50%" style="float:left;">
        <% if @status == 'live' %>
            <%= link_to "Join the Discussion", @event.hangout_join_link, :target => "_blank" %>
        <% end %>
        <iframe height="315px" width="560px" src="https://www.youtube.com/embed/<%= @event.hangout_link %>"></iframe>
    </div>
        
    <div width="50%" style="float:right;">
        <iframe height="400px" width="550px" src="https://docs.google.com/document/d/<%= @event.doc_link %>/edit?usp=sharing"></iframe>
    </div>
<% end %>
