<%= stylesheet_link_tag('event.scss') %>

<% if @status == 'scheduled' %>
    <div class="eventDiv">
    <p> You're invited by <%= link_to "#{@event.host.firstName} #{@event.host.lastName}", 
                              controller: "profile", action: 'show', user_id: @event.host.id, :class => "link" %>:</p>
        <p class='eventInfo'><%= @event.topic %> Roundtable Discussion</p>
        <h3>on <%= @event.startTime.in_time_zone("Eastern Time (US & Canada)").strftime(" %m/%d/%Y at %I:%M%p") %></h3>
        <ul>
            <% @event.tags.each do |t| %>
              <li class="tag"><%= t.name %></li>
            <% end %>
        </ul>
    </div>
<% else %>
    <p>Here</p>
<% end %>