<%= stylesheet_link_tag('post.scss') %>

<div class="postDiv">
	<h2> Create a Post</h2>
	<%= form_tag({:action => 'addTag'}, {:id => 'tagForm'}) do %>
        <%= hidden_field_tag(:currentPostText, @post.text, :id => 'save-currentPostText') %>
		<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
		<%= text_field(:tag, :name, :placeholder => "tag me!", :class => "tag_box") %>
		<%= submit_tag("Add Tag to Post", :class => "button") %>
        <div id="tagError"></div>
	<% end %>
	<ul>
		<% @tagsToAdd.each do |t| %>
				<li class="tag"><%= t %></li>
		<% end %>
	</ul>
</br>
	<%= form_tag({:action => 'create'}, {:id => 'postForm'}) do %>
		<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
		<%= text_area(:post, :text, :class => "text_field", :placeholder => "write post here", :onchange => 'document.getElementById("save-currentPostText").value = this.value') %><br>
		<%= submit_tag("Post", :class => "button_submit") %>
        <div id="postError"></div>
	<% end %>
</div>

<script>
$(document).ready(function () {

    $.validator.addMethod('tagHasNoSpaces', function (value) {
        return /^[^ ]*$/.test(value);
    }, 'Please enter a tag without spaces');

    $("#tagForm").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorElement:'div',
            errorLabelContainer: '#tagError',
            rules: {
                "tag[name]": {required: true, tagHasNoSpaces: true}
            },
            messages: {
                "tag[name]": {
                    required: 'Please enter a tag'
                }
            }
    })

    $("#postForm").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorElement:'div',
            errorLabelContainer: '#postError',
            rules: {
                "post[text]": {required: true}
            },
            messages: {
                "post[text]": {
                    required: 'Please enter a post'
                }
            }
    })

});
</script>
