<%= stylesheet_link_tag('post.scss') %>

<div class="postDiv">
	<h2> Create a Post</h2>
	<%= form_tag({:action => 'new'}, {:id => 'tagForm'}) do %>
        <%= hidden_field_tag(:currentPostText, @post.text, :class => 'save-currentPostText') %>
		<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
		<%= text_field(:tag, :name, :placeholder => "type tag here", :size => 20, :class => "tag_box") %>
		<%= submit_tag("Add Tag to Post", :class => "button") %>
        <div id="tagError"></div>
	<% end %>
	<ul>
		<% @tagsToAdd.each do |t| %>
				<li class="tag">
                    <div style="float:left;">
                        <%= t %>
                    </div>
                    <div style="float:left;">
                        <%= form_tag({:action => 'new'}) do %>
                            <%= hidden_field_tag(:currentPostText, @post.text, :class => 'save-currentPostText') %>
                            <%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
                            <%= hidden_field_tag(:tagToRemove, t) %>
                            <%= submit_tag("x", :class => "button deleteButton") %>
                        <% end %>
                    </div>
                </li>
		<% end %>
	</ul>
<br>
<br>
<br>
	<%= form_tag({:action => 'create'}, {:id => 'postForm'}) do %>
		<%= hidden_field_tag(:tagsToAdd, @tagsToAdd) %>
		<%= text_area(:post, :text, :id => "postTextField", :class => "text_field", :placeholder => "write post here", :onchange => "updateHiddenFieldsWithCurrentText()") %><br>
		<%= submit_tag("Post", :class => "button_submit") %>
        <div id="postError"></div>
	<% end %>
</div>

<script>
function updateHiddenFieldsWithCurrentText() {
    $(".save-currentPostText").each(function() {
        $(this).val($("#postTextField").val())
    });
}
    
$(document).ready(function () {

    $.validator.addMethod('tagHasNoSpaces', function (value) {
        return /^[^ ]*$/.test(value);
    }, 'Please enter a tag without spaces');

    $("#tagForm").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorElement:'div',
            errorLabelContainer: '#tagError',
            rules: {
                "tag[name]": {required: true, tagHasNoSpaces: true}
            },
            messages: {
                "tag[name]": {
                    required: 'Please enter a tag'
                }
            }
    })

    $("#postForm").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorElement:'div',
            errorLabelContainer: '#postError',
            rules: {
                "post[text]": {required: true}
            },
            messages: {
                "post[text]": {
                    required: 'Please enter a post'
                }
            }
    })

});
</script>
