<%= stylesheet_link_tag('post.scss') %>
<div class="postDiv">
  <p> <%= link_to "#{@post.user.firstName} #{@post.user.lastName}",
   controller: "profile", action: 'show', user_id: @post.user.id, :class => "link"%> said:</p>
  <p class="post"><%= @post.text %></p>
  <h3> at <%= @post.created_at %></h3>
  <ul>
    <% @post.tags.each do |t| %>
      <li class="tag"><%= t.name %></li>
    <% end %>
  </ul>
</div>
</br>
<div class="postDiv">
  <table>
    <% @comments.each do |c| %>
      <tr>
        <td><%= c.text %></td>
        <td> - <%= link_to "#{@post.user.firstName} #{@post.user.lastName}",
         controller: "profile", action: 'show', user_id: @post.user.id, :class => "link"%></td>
         <td><h3> at <%= c.created_at %></h3></td>
      </tr>
    <% end %>
  </table>
  </br>
  <h2>New comment</h2>

  <%= form_tag({:action => "create"}, {:id => "commentForm"}) do %>

    <div>
      <% @post.text = "" %>
      <%= hidden_field_tag(:originatingPost_id, @post.id) %>
      <%= hidden_field_tag(:kind, 2) %>
      <%= text_area(:post,:text, style:"resize:None", :class => "small_text_field", :placeholder => "write comment here") %>
      <span id="commentError"></span>
    </div>
    <p>
      <%= submit_tag("Comment", :class => "button_submit") %>
    </p>
  <% end %>
</div>

<script>
$(document).ready(function () {

    $("#commentForm").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorElement:'div',
            errorLabelContainer: '#commentError',
            rules: {
                "post[text]": {required: true}
            },
            messages: {
                "post[text]": {
                    required: 'Please enter a comment'
                }
            }
    })

});
</script>
