<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<style type="text/css">
.a {
    background-color: ;
    border:3px #228B22 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
height:310px;
width:225px;
padding:20px;
}
.postDiv {
  margin:auto;
  max-width: 700px;
}
</style>
</head>
<body>
	<div class="postDiv">
		<div width="50%" style="float:left;">
			<p class="a">
				<font size="6" color=green> <%= @user.firstName %> </font>
				<br></br>
				<font size="6" color=green> <%= @user.lastName %> </font>
				<br></br>
				<font size="3"> <%= @user.location %> </font>
				<br></br>
				<font size="3"> <%= @user.emailAddress %> </font>
				<br></br>
				<font size="3"> <%= @user.industry %> </font>
				<br></br>
				<font size="3"> <%= @user.company %> </font>
				<br></br>
				<font size="3"> <%= @user.position %> </font>
        <%= form_tag({:action => 'report'}) do %>
            <%= text_field(:report, :reason, :placeholder => "Reason for report") %>
            <%= hidden_field_tag(:reporting_user_id, session[:user_id]) %>
            <%= hidden_field_tag(:reported_user_id, @user.id) %>
            <%= submit_tag("Report User", :class => "button_submit", data: { disable_with: "You have already reported this user." }) %>
        <% end %>
			</p>
		</div>
		<div width="50%" style="float:right; max-width:425px; padding-top:8px;">
			<div class="posts">
				<table>
					<% @posts.each do |post|%>
						<div class = "highlight_row">
						    <tr>
						    	<td width="470px">
						    	<div class="linkToArticle"><%= link_to "#{post.text}", controller: "post", action: "show", id: post.id %></div><br>
						    	<div style="font-size:14px; color:grey;"><%= post.created_at.in_time_zone.strftime("Posted on %m/%d/%Y at %I:%M%p") %></div><br>
						    	<div style="float:right;"><%= link_to "#{post.user.firstName} #{post.user.lastName}", controller: "profile", action: 'show', user_id: post.user.id%></div></td>
						    </tr>
						</div>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</body>
