<!DOCTYPE html>
<html>
<head>
  <title>Pronnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="Header">
    <%= link_to '../home_feed/show' do %>
    <div id="LogoContainer">
      <div id="Pronnect">Pronnect</div>
      <div id="RevenueCycle"> Revenue Cycle</div>
    </div>
    <% end %>
    <div id="sessionContainer">
      <%= link_to '../access/logout' do %>
      <div id="Logout"> Logout? </div>
      <% end %>
    </div>
  </div>
  <hr/>
    <div id="fl_menu">
    <div class="label">MENU</div>
      <div class="menu">
        <div class="menu_item">
          <%= link_to "Home","../home_feed/show" %><br>
        </div>
        <div class="menu_item">
          <%= link_to "View Profile", controller: "profile", action: 'show', user_id: session[:user_id] %><br>
        </div>
        <div class="menu_item">
          <%= link_to "Create Post","../post/new" %><br>
        </div>
        <div class="menu_item">
          <%= link_to "Create Event","../event/new" %><br>
        </div>
      </div>
    </div>
    <script>
    document.addEventListener("page:change", function() {
      if (window.location.pathname == "/access/login" ||
          window.location.pathname == "/access/locked") {
        $('#fl_menu').hide();
      }
      else{
        $('#fl_menu').show();
        $("#fl_menu .menu").fadeTo(0, 0.75);
        $("#fl_menu .menu").fadeOut(0);
        restore();
      }
    });

    //config
    function restore(){

      $float_speed=1000; //milliseconds
      $float_easing="easeOutQuint";
      $menu_fade_speed=200; //milliseconds
      $closed_menu_opacity=0.75;

      //cache vars
      $fl_menu=$("#fl_menu");
      $fl_menu_menu=$("#fl_menu .menu");
      $fl_menu_label=$("#fl_menu .label");

      $(document).ready(function() {
        menuPosition=$('#fl_menu').scrollTop() + 100;
        FloatMenu();
        $fl_menu.hover(
          function(){ //mouse over
            $fl_menu_label.fadeTo($menu_fade_speed, 1);
            $fl_menu_menu.fadeIn($menu_fade_speed);
          },
          function(){ //mouse out
            $fl_menu_label.fadeTo($menu_fade_speed, $closed_menu_opacity);
            $fl_menu_menu.fadeOut($menu_fade_speed);
          }
        );
      });

      $(window).scroll(function () { 
        FloatMenu();
      });
    };

    function FloatMenu(){
      var scrollAmount=$(document).scrollTop();
      var newPosition=menuPosition+scrollAmount;
      if($(window).height()<$fl_menu.height()+$fl_menu_menu.height()){
        $fl_menu.css("top",menuPosition);
      } else {
        $fl_menu.stop().animate({top: newPosition}, $float_speed, $float_easing);
      }
    }
  </script>
  <%= yield %>
</body>

</html>


