<!DOCTYPE html>
<html>
<head>
  <title>Pronnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to '../home_feed/show' do %>
  <div id="Header">
    <div id="LogoContainer">
      <div id="Pronnect">Pronnect</div>
      <div id="RevenueCycle"> Revenue Cycle</div>
    </div>
  </div>
  <% end %>
  <hr/>
<%= yield %>
</body>
</html>
